@media (max-width: 1024px) {
  nav {
    padding-left: 15px;
    gap: 17px;
  }
}
@media (max-width: 768px) {
  nav {
    padding-left: 0;
    gap: 0px;
  }
  nav a {
    font-size: 12px;
  }
  .blog img {
    height: 270px;
    width: 287px;
  }
  .blog .left {
    height: 237px;
    width: 322px;
  }
  .photo-gallery img {
    width: 220px;
    height: 237px;
  }
}
@media (max-width: 684px) {
  nav a {
    padding: 10px 0px;
  }
}
@media (max-width: 665px) {
  nav img {
    height: 30px;
  }
}
@media (max-width: 589px) {
  nav a {
    font-size: 9px;
  }
  .blog {
    line-height: 28px;
  }
  .blog h1 {
    font-size: 22px;
    margin-bottom: 8px;
    padding-bottom: 20px;
  }
  h3 {
    padding-bottom: 7px;
  }
  .blog img {
    height: 200px;
  }
  .blog .header2,
  .blog h1 {
    font-size: 17px;
    padding-top: 5px;
    padding-bottom: 8px;
  }
  .blog .left {
    height: 192px;
    width: 254px;
  }
  .myworks {
    padding-left: 20px;
    padding-right: 20px;
  }
  .photo-gallery img {
    width: 200px;
    height: 135px;
  }
}
@media (max-width: 480px) {
  nav {
    gap: 11px;
  }
  nav img {
    height: 35px;
    margin-right: -27px;
  }
  nav a {
    font-size: 6px;
  }
  .section h4 {
    font-size: 40px;
  }
  .blog h1 {
    font-size: 17px;
  }
  .blog p,
  .blog h2 {
    font-size: 15px;
  }
  .blog img {
    height: 138px;
    width: 205px;
  }
  .blog .left {
    padding-left: 0px;
    height: 137px;
    width: 173px;
  }
  .photo-gallery img {
    width: 133px;
    height: 110px;
  }
  .section-title {
    font-size: 25px;

    margin-bottom: 20px;
  }
}
@media (max-width: 385px) {
  .nav-left {
    margin-left: -35px;
  }
}
@media (max-width: 334px) {
  .navbar {
    gap: 16px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  nav img {
    margin-right: -13px;
    height: 19px;
  }
  .nav-left {
    gap: 16px;
    margin-left: -37px;
  }
}

